@import url(http://fonts.googleapis.com/css?family=Raleway:400,900,100);

body {
	width: 100%;
	height: 100%;
}

html {
	width: 100%;
	height: 100%;
}

@media ( min-width : 720px) {
	.navbar {
		padding: 20px 0;
		-webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
		-moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
		transition: background .5s ease-in-out, padding .5s ease-in-out;
	}
	.top-nav-collapse {
		padding: 0;
	}
}

@media ( max-width : 800px) {
	#commits-table table td:nth-child(3), #commits-table table th:nth-child(3)
		{
		display: none;
	}
}

@media ( max-width : 640px) {
	#commits-table table td:nth-child(2), #commits-table table th:nth-child(2)
		{
		display: none;
	}
}

.home-section {
	height: 100%;
	padding-top: 100px;
	overflow: auto;
	background: url('../img/art.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}

.about-section {
	height: 100%;
	padding-top: 80px;
	background: #fff;
	overflow: auto;
}

.work-section {
	height: 100%;
	padding-top: 80px;
	overflow: auto;
	background: url('../img/art.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}

.blog-section {
	height: 100%;
	padding-top: 80px;
	background: #fff;
	overflow: auto;
}

.contact-section {
	height: 100%;
	padding-top: 80px;
	text-align: center;
	background: url('../img/world.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}

#sharebuttons {
	margin: 10px auto 0;
}

#sharebuttons a {
	float: left;
	margin: 0 10px;
}

#sharebuttons a i {
	opacity: .5;
	transition: all .2s;
}

#sharebuttons a:hover i {
	opacity: 1;
}

.mf-128 {
	display: block;
	width: 128px;
	height: 128px;
	border-radius: 64px;
	background: transparent url(../img/mf-icons-circle128.png) 0 0;
}

.mf-128.mf-linkedin {
	background-position: -512px -256px;
}

.mf-128.mf-github {
	background-position: -384px -768px;
}

.section-title-gap {
	padding-bottom: 20px;
}